body{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

#area{
    width: 500px;
    height: 60px;
    margin: 5px 20px; 
    transition: 2s;
    border-radius: 8px;
}

.delevary-area{
    margin: 5px 20px;
    height: 60px;
}

.delevary-pick-button{
background-image: linear-gradient(red,blue);
text-decoration: none;
padding: 17px 15px 17px;
color: white;
font-weight: 700;
border-radius: 10px;
transition: 2s;
}

#box-shadow2{
    box-shadow: 2px 2px 15px  gray;
    margin-left: 125px;
    margin-right: 200px;
    margin-bottom: 15px;
    margin-top: 12px;
    border-radius: 15px;
}

#Afoodies{
    margin-left: 130px;
    line-height: 150%;
}

#r{
    background: rgba(159, 151, 202, 0.411);
    margin-top: -30px;
    margin-bottom: 50px;
    transition: 2s;
}

#promocode{
    text-align: center;
    box-shadow: 10px 10px 30px 5px red;
    background-image: linear-gradient(#333333,#dd1820);
    margin: 100px 450px;
    padding: 10px 0;
    border-radius: 50px;
    color: white;
    
    
}

h1{
    font-size: 35px;
    
}
.chrome-yellow{
  color: #ffa801

}

.body-paragraph-text{
    color: gray;
    font-size: 18px;
   
}

.button{
    background-image: linear-gradient(#373b44,#ffa801);
    background-size: cover;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px ;
    border-radius: 25px;
}

.flexible{
    display: flex;
    margin-bottom: 10%;
    
}

.partial-width{
    width: 50%;
    margin-left: 8%;
    margin-top: 15%;
}

#sec01-partial-img-width{
    width: 70%;
    margin-top: -1%;   
}

#sec02-partial-img-width{
    width: 60%;
    margin-left: 13%;
}

#sec02-paragraph{
   padding-right: 25%;
   line-height: 200%;
   text-align: justify;
}

#aboutme-bg-img{
background-image: url(images/shapes/Frame\ 57.jpg);
background-size: cover;
}

#recipies{
    text-align: center;
    line-height: 200%;
    font-size: 40px;
}

#recipies-next{
    padding-right: 25%;
    line-height: 150%;
    text-align: center;
    padding: 0 30%;
    font-weight: 500;
    font-size: 20px;
}

#sec03{
    margin-left: 70px;
}

#sec03 img{
    width:330px;
    margin: 20px 20px 0 20px
}

#sec03 h1{
    width: 330px;
    margin-left: 25px;
}

#sec03 p{
    width: 330px;
    margin-left: 25px;
    color: gray;
    
}

.box-shadow{
    box-shadow: 2px 2px 15px  gray;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.foodies-colour{
    color:rgb(223, 221, 203);
}

footer{
    background-image: linear-gradient(#141e30,#243b55);
    padding: 1px 0 15px;
    color:white;
    margin-top: 100px;
}

#follow{
    text-align: center;
    box-shadow: 5px 5px 20px red;
    background-image: linear-gradient(blue,red);
    margin: 50px 550px;
    padding: 10px 0;
    border-radius: 50px;
    color: white;
    
}

#follow-margin{
    margin-left: 420px;
}

.follow-us{
    margin-left: 40px;
}
